

body{
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

.hero, footer{
    background-color: #1F2937;
}


.Navbar{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 100px;
    align-items: center;
}

.leftNav{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.rightNav{
    font-size: 18px;
    color: #E5E7EB;
}

.restHero{
    height: 380px;
    display: flex;
}

.heroHeading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 230px;
    word-wrap: normal;
    width: 350px;
}

.smallP{
    font-size: 18px;
    color: #E5E7EB;
    word-wrap: normal;
    margin-left: 230px;
    width: 500px;
}

.heroButton{
    margin-left: 233px;
}

button{
    border: 0px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    font-weight: bolder;
    font-size: 2px;
}

.leftHero{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 300px;
}

.rightHero{
    display: flex;
}


li{
    margin-top: 0px;
    display: inline;
    margin-right: 24px;
}

img{
    color:white;
    background-color: white;
    height: 220px;
    width: 520px;
    margin-right: 0px;
    margin-left: 0px;
}

.randInfo{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}