

body{
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

.hero, footer{
    background-color: #1F2937;
}


.Navbar{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 100px;
    align-items: center;
}

.leftNav{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.rightNav{
    font-size: 18px;
    color: #E5E7EB;
}

.restHero{
    height: 380px;
    display: flex;
}

.heroHeading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 230px;
    word-wrap: normal;
    width: 350px;
}

.smallP{
    font-size: 18px;
    color: #E5E7EB;
    word-wrap: normal;
    margin-left: 230px;
    width: 500px;
}

.heroButton{
    margin-left: 233px;
}

button{
    border: 0px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    font-weight: bolder;
    font-size: 2px;
}

.leftHero{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 300px;
}

.rightHero{
    display: flex;
}


li{
    margin-top: 0px;
    display: inline;
    margin-right: 24px;
}

img{
    color:white;
    background-color: white;
    height: 220px;
    width: 520px;
    margin-right: 0px;
    margin-left: 0px;
}

.randInfo{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.picBoxes{
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
}

.picBox{
    border-radius: 15px;
    border:#3882F6;
    border-style: solid;
    border-width: 4px;
    width: 160px;
    height: 160px;
}

.wordBoxes{
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 150px;
}

.wordBox{
    text-align: center;
    width: 170px;
    font-size: 14px;
}

.qouteSection{
    flex-direction: column;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.qoute{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    height: 300px;
    padding-top: 100px;
    margin-left: 400px;
    margin-right: 350px;
}

.qouted{
    font-size: 16px;
    font-weight: bolder;
    text-align: right;
}

.final{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 400px;
}

.callToAction{
    display: flex;
    border-radius: 10px;
    margin-top: 100px;
    width: 1100px;
    height: 160px;
    background-color: #3882F6;
}


.callParagraph{
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    color: #E5E7EB;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: left;
    padding-left: 170px;
}
.callLeft{
    display: flex;
    flex-direction: column;
}
.callText{
    display: flex;
    justify-content: left;
    padding-left: 170px;
    padding-top: 0px;
    color: #E5E7EB;
}

.callButton{
    display: flex;
    margin-top: 50px;
    margin-left: 170px;
}

.callingButton{
    border: 2px solid;
    border-color: #F9FAF8;
    color: #F9FAF8;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #F9FAF8;
}



