.hero, footer{
    background-color: #1F2937;
}

.Navbar{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    align-items: center;
}

.leftNav{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.rightNav{
    font-size: 18px;
    color: #E5E7EB;
}

.restHero{
    justify-content: space-between;
}

.heroHeading{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-left: 200px;
    word-wrap: normal;
    width: 300px;
}

.smallP{
    font-size: 18px;
    color: #E5E7EB;
}


li{
    margin-top: 0px;
    display: inline;
    margin-right: 24px;
}